body {
    background-color: ;
    margin: auto
}

header {
    display: block;
    background-color: grey;
    height: 5vh;
}

main {
    display: flex;
}

aside {
    width: 25%;
    height: 90vh;
    border-bottom-style: solid;
    border-top-style: solid;
    background-color: #DCDCDC;
}

aside div:first-child {
    height: 60%;
    border-bottom-style: solid;
}

aside > div > div {
    text-align: center;
    background-color: bisque;
}

article {
    width: 75%;
    height: 90vh;
    border-style: solid;
    background-color: #DCDCDC;
    display: flex;
}

article > div#hour {
    width: 10%;
    line-height: 7vh;
}

article > div#hour > p:first-child {
    height: 2.6vh;
}

article > div {
    background-color: #DCDCDC;
    border-right-style: solid;
    width: 100%;
    text-align: center;
}

article > div > p {
    border-bottom: solid;
}

article > div p {
    margin: 0px;
}

article > div > div {
    background-color: bisque;
}

/*
#lundi {
    position: absolute;
    visibility: hidden;
}*/

footer {
    background-color: grey;
    height: 5vh;
}
