/*--------------------------------------------------------
 * PROJET S3
 * Emploie du temps département Informatique Montpellier
 * Copyright 2018/2019 | Tous droits réservés.
--------------------------------------------------------*/


/*------------------------------
	GENERAL
------------------------------*/

html {
	display: flex;
	flex-direction: column;
}

/* IE fix */

body {
	display: flex;
	/* crée un contexte flex pour ses enfants */
	flex-direction: column;
	/* affichage vertical */
	min-height: 100vh;
	/* toute la hauteur du viewport (compatible IE9+) */
}

.wrapper {
	display: block;
	/* IE fix */
	flex: 1 1 auto;
	/* occupe la hauteur restante */
	display: flex;
	/* crée un contexte flex pour ses enfants */
	flex-direction: row;
	/* affichage horizontal */
}

.content {
	display: block;
	/* IE fix */
	flex: 1;
	/* occupe la largeur restante */
}

.contentswitch {
	display: block;
	/* IE fix */
	flex: 2;
	/* occupe la largeur restante */
}


/*------------------------------
	STRUCTURE
------------------------------*/

/*-------- 1. GENERAL --------*/

body {
	margin: 0;
	font-family: "Lato", arial;
	background-color: #fff;
	color: #333333;
	font-size: 1.1em;
}

main {
	display: flex;
}

/*-------- 2. HEADER --------*/

header {
	display: flex;
	height: 4.9vh;
	background-color: #5e8b6f;
	color: white;
}

header > img {
	width: 4em;
	position: relative;
	left: 2%;
}

header > div {
	position: relative;
	top: 25%;
	left: 4%;
}

/*-------- 3. ASIDE --------*/

aside {
	width: 25%;
	height: 90vh;
	border-bottom-style: solid;
	border-top-style: solid;
	border-width: 1.5px;
	background-color: #ece8d9;
}

aside div:first-child {
	height: 60%;
	border-bottom-style: solid;
	border-width: 1.5px;
}

aside > div > div {
	text-align: center;
	background-color: bisque;
}

aside > div > div > p {
	margin: 0;
}

/*-------- 4. ARTICLE --------*/

article {
	width: 75%;
	height: 90vh;
	border-top-style: solid;
	border-bottom-style: solid;
	border-width: 1.5px;
	background-color: #fffdf6;
	display: flex;
	overflow: auto;
}

article > div {
	background-color: fffdf6;
	border-right-style: solid;
	border-width: 2px;
	width: 100%;
	text-align: center;
}

article p {
	margin: 0px;
}

/* Hour */

article > div#hour {
	width: 10%;
	display: inline-block;
}

article > div#hour > p {
	position: relative;
	top: 2.2vh;
	font-size: small;
	height: 3.6vh;
	border-top: solid;
	border-width: 1.5px;
}

/* Day */

article > div:not(#hour) > p {
	border-bottom: solid;
	border-width: 1.5px;
}

article > div > div {
	display: flex;
	height: 100%;
}

article > div > div > div {
	width: 100%;
	overflow: hidden;
}

article > div > div > div:not(:first-child) {
	border-left-style: solid;
	border-width: 1.5px;
}

article span {
	display: block;
	height: 1.75vh;
}

article span:not(:first-child) {
	margin-top: 1.25px;
}

article span > div {
	background-color: bisque;
	overflow: hidden;
}

/*
#Lundi {
    position: absolute;
    visibility: hidden;
}

#Mardi {
    position: absolute;
    visibility: hidden;
}

#Mercredi {
    position: absolute;
    visibility: hidden;
}*/

/*-------- 5. FOOTER --------*/

footer {
	height: 4.9vh;
	background-color: #5e8b6f;
	color: white;
	text-align: center;
}
